<!doctype html>
<html ng-app="wallboard">
<head>
  <meta charset="utf-8">
</head>
<body>
  <div class="container" ng-view>
  </div>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"></script>
  <script type="text/javascript" src="http://code.angularjs.org/1.0.2/angular-resource.js"></script>
  <script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
  <script type="text/javascript" src="http://timeago.yarp.com/jquery.timeago.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="services.js"></script>
</body>
</html>
